<section id="channels">
    <h3 align="center">Connect with Your Customers with AI on EVERY Messaging Channel</h3>
    <br>
    <div class="logo-cloud grid-cols-2 xl:grid-cols-4 2xl:grid-cols-6 gap-2.5">
        <a class="logo-item background-secondary" href="/channels/messenger">
            <span><img src="/images/logos/logo-messenger.svg" width="50px" height="50px"></span>
            <span>Messenger</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/whatsapp">
            <span><img src="/images/logos/logo-whatsapp.svg" width="50px" height="50px"></span>
            <span>WhatsApp</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/instagram">
            <span><img src="/images/logos/logo-instagram.svg" width="50px" height="50px"></span>
            <span>Instagram</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/google-chat">
            <span><img src="/images/logos/logo-google-chat.svg" width="50px" height="50px"></span>
            <span>Google Chat</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/viber">
            <span><img src="/images/logos/logo-viber.svg" width="50px" height="50px"></span>
            <span>Viber</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/telegram">
            <span><img src="/images/logos/logo-telegram.svg" width="50px" height="50px"></span>
            <span>Telegram</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/wechat">
            <span><img src="/images/logos/logo-wechat.svg" width="50px" height="50px"></span>
            <span>WeChat</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/vk">
            <span><img src="/images/logos/logo-vk.svg" width="50px" height="50px"></span>
            <span>VK</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/line">
            <span><img src="/images/logos/logo-line.svg" width="50px" height="50px"></span>
            <span>Line</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/voice">
            <span><img src="/images/logos/logo-voice.svg" width="50px" height="50px"></span>
            <span>Voice</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/gmail">
            <span><img src="/images/logos/logo-gmail.svg" width="50px" height="50px"></span>
            <span>Email</span>
        </a>
        <a class="logo-item background-secondary" href="/channels/sms">
            <span><img src="/images/logos/logo-sms.svg" width="50px" height="50px" color="white"></span>
            <span>SMS</span>
        </a>
    </div>
</section>