<section id="ecommerce-platforms">
<h2 class="ecommerce-heading" align="center">Connect Your Ecommerce Store</h2>
<br>
<div class="ecommerce-platforms grid grid-cols-1 md:grid-cols-3 items-center ecommercere-platforms">
    <div class="background-secondary">
      <img src="/images/logos/logo-shopify.png" alt="Shopify" width="360px" height="200px"/>
      <p class="text-2xl font-bold leading-loose text-center text-white">
        Shopify
      </p>
      <p class="text-base leading-normal text-center text-white">
        Connect your Shopify store to send product, collection, customer, cart,
        order and information across all channels as messages.
      </p>
    </div>
    <div class="background-secondary">
      <img src="/images/logos/logo-woo.svg" alt="Woo Commerce" width="360px" height="200px" />
      <p class="text-2xl font-bold leading-loose text-center text-white">
        WooCommerce
      </p>
      <p class="text-base leading-normal text-center text-white">
        Connect your WooCommerce store to send product, collection, customer,
        cart, order and information across all channels as messages.
      </p>
    </div>
    <div class="background-secondary">
      <img src="/images/logos/logo-fb.svg" alt="Social" width="360px" height="200px" />
      <p class="text-2xl font-bold leading-loose text-center text-white">
        Social Shopping
      </p>
      <p class="text-base leading-normal text-center text-white">
        Connect your Facebook and Instragram shops to send product, collection,
        customer, cart, order and information across all channels as messages.
      </p>
    </div>
  </div>
</section>