---
import Phone from "@layouts/components/Phone.astro";
---

<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <Phone />
      </div>
      <div class="lg:col-6">
        <h1 class="banner-title">
          Elevate with AI
          <h4>
            Skyrocket your sales by connecting your ecommerce store to AI.
          </h4>
          <h4>It's suprisingly fast ...</h4>
          <br /><br />
          <a href="#" class="btn variant-filled col-span-2">
            Learn More
           
          </a>
          <a href="#" class="btn variant-filled col-span-2"> Get Started</a>
          <br />
          <br />
          <br />
          <div class="logo-cloud grid-cols-2 gap-2.5">
            <a class="logo-item background-secondary" href="/">
              <span
                ><img
                  src="/images/logos/logo-openai.svg"
                  width="50px"
                  height="50px"
                /></span
              >
              <span>OpenAI</span>
            </a>
            <a class="logo-item background-secondary" href="/">
              <span
                ><img
                  src="/images/logos/logo-google-dialogflow.svg"
                  width="50px"
                  height="50px"
                /></span
              >
              <span>Google Dialogflow</span>
            </a>
          </div>
        </h1>
      </div>
    </div>
  </div>
</section>
