html {
  @apply text-base;
}

body {
  @apply bg-body bg-[url('/images/background.png')] bg-repeat font-primary font-normal leading-relaxed text-text;
}
.background-secondary {
  @apply bg-body bg-[url('/images/backgrounds/brilliant.png')] bg-repeat font-primary font-normal leading-relaxed text-text;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-white;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

.gap-2\.5 {
  gap: .625rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}
.logo-cloud {
  display: grid;
  overflow: hidden;
  border-radius: var(--theme-rounded-container);
}
.gap-2\.5 {
  gap: .625rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}
.logo-cloud {
  display: grid;
  overflow: hidden;
  border-radius: var(--theme-rounded-container);
}
.logo-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.logo-item span{
  padding-left: 1px;
  padding-right: 1px;
  color: white;
}



/* Now, let's apply it on an element */

.loading {background-color: #242624;margin-top: -200px;}
.loading img { margin: 0 auto; }

.logo-item span img {
  padding-right: 8px;
}
.logo-item {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.logo-item {
  background-color: rgb(var(--color-surface-500) / .1);
}
.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 1px;
}

.primary {
  background-color: #1a5fb4;
}
#ecommerce-platforms, #channels {padding: 60px 10px;}
.ecommerce-platforms p {padding: 0 20px 20px 20px; }
.ecommerce-platforms img { margin: 0 auto;}
.logo-item span img {width: 50px; height: 50px;}

.footer {padding: 20px;}
.logo-footer {margin-left: -10px;}
.hero p {font-size: 24px;}

.integration-card-head img {width: 80px; height:80px}
.logo {
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto;
}
.footer-heading {font-size: 24px!important; color: white; padding-bottom: 20px;}
.testimonial-author {font-size: 24px!important; color: white; padding-bottom: 20px;}
 
#flowbuilder-main {
background-color: rgb(17 17 17 / var(--tw-bg-opacity));
background-image: url("https://one.ie/images/backgrounds/brilliant.png");
background-repeat: repeat;
}

.social-icons li a {
  display: inline-flex;
  height: 20px!important;
  width: 20px!important;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: transparent!important;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}