html {
  @apply text-base;
}

body {
  @apply bg-body bg-[url('/images/background.png')] bg-repeat font-primary font-normal leading-relaxed text-text;
}
.background-secondary {
  @apply bg-body bg-[url('/images/backgrounds/brilliant.png')] bg-repeat font-primary font-normal leading-relaxed text-text;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-white;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

.gap-2\.5 {
  gap: .625rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}
.logo-cloud {
  display: grid;
  overflow: hidden;
  border-radius: var(--theme-rounded-container);
}
.gap-2\.5 {
  gap: .625rem;
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}
.logo-cloud {
  display: grid;
  overflow: hidden;
  border-radius: var(--theme-rounded-container);
}
.logo-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.logo-item span{
  padding-left: 1rem;
  padding-right: 1rem;
}
.logo-item {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.logo-item {
  background-color: rgb(var(--color-surface-500) / .1);
}
.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.logo-item span {
  color:white;
}

.primary {
  background-color: #1a5fb4;
}
#ecommerce-platforms, #channels {padding: 60px 10px;}
.ecommerce-platforms p {padding: 0 40px; }
.ecommerce-platforms img { margin: 0 auto;}

.footer {padding: 20px;}