b,
strong {
  @apply font-semibold;
}
code {
  @apply after:border-none;
}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.shadow {
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);

  &-lg {
    box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
  }
}

.bg-gradient-to-tl {
  background-color: #1a5fb4;
}

.bg-gradient {
  @apply bg-[#111111] bg-body bg-[url('/images/backgrounds/brilliant.png')];

}

