---
import Base from "@layouts/Base.astro";
import EcommercePlatforms from "@layouts/components/EcommercePlatforms.astro";
import KeyFeatures from "@layouts/components/KeyFeatures.astro";
import Testimonial from "@layouts/components/Testimonial.astro";
import Service from "@layouts/components/Service.astro";
import Cta from "@layouts/partials/Cta.astro";
import FeaturesClean from "@layouts/components/features/FeaturesClean.astro";
---

<Base>
    <section class="loading">
        <img src="/load.gif">
      </section>
<!--	
<FeaturesClean />
-->
</Base>
