---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
---

<Base>
  <script async defer src="https://app.one.ie/js/widget/zpemz56hexc08alh/full.js"></script>
  <section class="loading">
    <img src="/load.gif">
  </section>
</Base>