---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
---

<Base>
  <section>
    <script async defer src="https://app.one.ie/js/widget/r5mimf8t58skngac/full.js"></script>
  </section>
</Base>