---
import Base from "@layouts/BaseChatWindow.astro";
---

<Base>
  <script async defer src="https://app.one.ie/js/widget/zpemz56hexc08alh/full.js"></script>
  <section class="loading center">
    <img src="/load.gif">
  </section>
</Base>