---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
---

<Base>
  <button type="button" onClick="window.location.reload()">
    Reload Page
 </button>
 
  <section>
    <script async defer src="https://app.one.ie/js/widget/zpemz56hexc08alh/full.js?ref=getstarted"></script>

  </section>
    <section class="loading">
    <img src="/load.gif">
  </section>
</Base>
