---
import Base from "@layouts/BaseChatWindow.astro";
---

<Base>
  <section>
    <script async defer src="https://app.one.ie/js/widget/zpemz56hexc08alh/full.js?ref=getstarted"></script>
  </section>
    <section class="loading">
    <img src="/load.gif">
  </section>
</Base>
