---
import Base from "@layouts/Base.astro";
import { Img } from "astro-imagetools/components";

---
<Base>
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <h1 class="center">Elevate Ecommerce Playbook</h1>
      </div>
      <div class="mt-10 max-w-810px lg:col-9">
        <div class="content">
          <p>
            I decided to start with a perfect score on Google Lighthouse before
            I launched my website and then build it from there. I just got 100%
            Lighthouse score for performance, 100% for accessability and 100%
            for SEO so I guess I’m ready.
          </p>
        </div>
      </div>
      <Img
        src="/images/192.png"
        width="100%"
        class="w-full rounded-xl"
        alt="Hello Ecommerce World!"
        loading="lazy"
        decoding="async"
        width="920"
        height="450"
      />
    </div>
    <div class="mt-10 max-w-810px lg:col-9">
      <p>
        I decided to start with a perfect score on Google Lighthouse before I
        launched my website and then build it from there. I just got 100%
        Lighthouse score for performance, 100% for accessability and 100% for
        SEO so I guess I’m ready.
      </p>
    </div>
  </div>
</Base>