---
import Base from "@layouts/Base.astro";
import { Picture } from "astro-imagetools/components";
---

<Base>
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <br />
        <img
          src="/images/Elevate.svg"
          class="w-full rounded-xl"
          alt="Elevate Ecommerce With AI Playbook"
          width="920"
          height="920"
        />
      </div>
      <div class="mt-10 max-w-[810px] lg:col-9">
        <h1>Elevate Ecommerce With AI Playbook</h1>
        <div class="mb-5 mt-6 flex items-center space-x-2">
          <div class="content">
            <p>
              A simple visual system, model and blueprint to attract, convert and grow your ecommerce business. 

Bring your customers on their own personalized journey from an ad to a sale & beyond.

The Elevate Ecommerce with AI Playbook by ONE is a proven, step by step framework that will skyrocket your ecommerce sales. 
            </p>
            <div
              class="blockquote my-10 rounded-xl background-secondary px-16 py-8 lg:px-20"
            >
              <blockquote class="text-2xl text-dark">
                <p>
                  I built my first ecommerce store almost 30 years ago and I was devistated that almost everybody who visited it left without buying anything. Low website conversion rates (on average just 3 percent of browsers become buyers) are the bain of almost every ecommerce business. I created The Elevate Ecommerce Playbook was created to solve this problem, step by step and it has been directly responsible for millions of dollars in increased sales. I found that by creating a clear picture of the customer journey and incrementally increasing conversion rate from one step to the next will have huge impact on profitability. The small incrmenetal improvements compound to skyrocket conversion rates and sales. Over the years the playbook has been refined, first by adding email, then remarketing ads, live chat and chat funnels. In 2020 I added AI with Google Dialogflow and 2022 OpenAI. Advances in AI have ignited the framework, so I renamed it but the principles remain the same. Look above and visualise your customer's journey and let's start a conversation that will bring them from an ad to a sale, and way beyond.      

                </p>
              </blockquote><p class="mb-0 mt-4">Anthony O'Connell - Founder of ONE</p>
            </div>
            <h1>Take your customers to the next level</h1>
            <div>
<p>The framework has 3 levels …</p>
<ul>
  <li><b class="text-white">Attract: </b>Elevate your reach: </span> The goal of this level is to widen your reach & expand your audience using free gifts that capture customers information when claimed.</li>
  <li><b class="text-white">Convert: </b>Elevate your sales:</b> The goal of this level is to sell more products & services using targeted messaging to maximise conversion of visitors to customers/ browsers to buyers.</li>
  <li><b class="text-white">Grow: </b>Elevate your customer lifetime value: </b> The goal of this level is to expand the value of each customer by selling them more products & services, more frequently & using them to attract new customers using testimonials, referrals & reviews.</li>
</ul>
<h1>Guide customers along a journey - step by step</h1>
<p>Each level has 3 steps. The goal of each step is to move the customer to the next step. Each step provides a huge amount of value & compounds to impact your profitability</p>
<h3 class="h3">Attract</h3>
<ul>
  <li><b class="text-white">Engage: </b>Transform passive users to actively engaged using their favourite channel of communication. Elevate engagement.</li>
  <li><b class="text-white">Gift: </b> Transform strangers into friends by giving them a gift they can claim with a message. Elevate reach, traffic and brand awareness.</li>
  <li><b class="text-white">Identify:</b> Transform anonymous users into real people complete with names, gender, language, location and profile pictures as soon as they interact with a message. Elevate customer knowledge.</li>
</ul>
<h3>Convert</h3>
<ul>
  <li><b class="text-white"> Personalise:</b>Transform your communication from unappealing to targeted as you segment your audience with ease. Elevate customer knowledge and conversion rates.</li>
  <li><b class="text-white">Sell: </b> Transform abandoned carts into captured sales. Elevate conversion rates, sales and profits.</li>
  <li><b class="text-white">Remarket:</b> Transform more browsers to buyers and more leads to sales by increasing speed and removing friction between your advertising and sales. Elevate conversion rates, sales and profits.</li>
</ul>
<h3>Grow</h3>
<ul>
  <li><b class="text-white">Upsell: </b>Transform losses into profits by upselling higher value products to your customers with messages. Elevate average order value, sales and profits.</li>
  <li><b class="text-white">Service: </b>Transform your customer's frustrations into delightful brand experiences. Elevate customer lifetime value.</li>
  <li><b class="text-white">Share: </b>Transform stagnant marketing campaigns to viral. Grow exponentially by giving your audience the tools to share your message without friction. Elevate traffic, conversion and sales.</li>
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
