---
---

<body id="app" cz-shortcut-listen="true"
  ><div id="error">
    <h1>There was an error loading your app</h1>
    <h2>
      The Budibase client library could not be loaded. Try republishing your
      app.
    </h2>
  </div>

  <svg
    id="SvgjsSvg1001"
    width="2"
    height="0"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev"
    style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"
    ><defs id="SvgjsDefs1002"></defs><polyline
      id="SvgjsPolyline1003"
      points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg
  >
  <div
    id="spectrum-root"
    dir="ltr"
    class="spectrum spectrum--medium spectrum--darkest spectrum--midnight svelte-137eexn"
    lang="en"
  >
    <div id="clip-root" class="svelte-137eexn">
      <div id="app-root" class="svelte-137eexn">
        <div id="app-body" class="svelte-137eexn">
          <div
            style="--primaryColor:var(--spectrum-global-color-blue-600);--primaryColorHover:var(--spectrum-global-color-static-black);--buttonBorderRadius:0;--navBackground:var(--spectrum-global-color-gray-100);--navTextColor:var(--spectrum-global-color-gray-800);"
            id="theme-root"
            class="svelte-1xlyb8i"
          >
            <div
              class="component undefined svelte-4sybt1 parent"
              data-icon="Sandbox"
            >
              <div
                class="layout layout--left svelte-1pkxpi2 undefined-dom desktop"
                draggable="false"
                style=""
              >
                <div class="layout-body svelte-1pkxpi2">
                  <div
                    class="interactive component navigation svelte-1pkxpi2"
                    data-id="navigation"
                    data-name="Navigation"
                    data-icon="Link"
                  >
                    <div
                      class="nav-wrapper svelte-1pkxpi2"
                      style="--width:1920px; --height:683px;--navBackground:var(--spectrum-global-color-gray-75);"
                    >
                      <div class="nav nav--left size--l svelte-1pkxpi2">
                        <div class="nav-header svelte-1pkxpi2">
                          <div class="burger svelte-1pkxpi2">
                            <div class="icon svelte-1d7sykj">
                              <svg
                                class="spectrum-Icon spectrum-Icon--sizeM svelte-1d7sykj hoverable"
                                focusable="false"
                                aria-hidden="false"
                                aria-label="ShowMenu"
                                style="transform: rotate(0deg); "
                                ><use
                                  style="pointer-events: none;"
                                  xlink:href="#spectrum-icon-18-ShowMenu"
                                ></use></svg
                              >
                            </div>
                          </div>
                          <div class="logo svelte-1pkxpi2">
                            <img
                              src="https://oneiemedia.s3.ap-southeast-1.amazonaws.com/O.svg"
                              alt="ONE"
                              class="svelte-1pkxpi2"
                            />
                          </div>
                          <div class="portal svelte-1pkxpi2">
                            <div class="icon svelte-1d7sykj">
                              <svg
                                class="spectrum-Icon spectrum-Icon--sizeM svelte-1d7sykj hoverable"
                                focusable="false"
                                aria-hidden="false"
                                aria-label="Apps"
                                style="transform: rotate(0deg); "
                                ><use
                                  style="pointer-events: none;"
                                  xlink:href="#spectrum-icon-18-Apps"
                                ></use></svg
                              >
                            </div>
                          </div>
                        </div>
                        <div class="mobile-click-handler svelte-1pkxpi2"></div>
                        <div class="links svelte-1pkxpi2">
                          <a class="link svelte-1pkxpi2" href="#/home"
                            >Observe</a
                          ><a class="link svelte-1pkxpi2" href="#/plan">Plan</a
                          ><a class="link svelte-1pkxpi2" href="#/tell">Tell</a
                          ><a class="link svelte-1pkxpi2" href="#/market"
                            >Market</a
                          ><a class="link svelte-1pkxpi2" href="#/sell">Sell</a
                          ><a class="link svelte-1pkxpi2" href="#/service"
                            >Service</a
                          ><a class="link svelte-1pkxpi2" href="#/educate"
                            >Educate</a
                          ><a class="link svelte-1pkxpi2" href="#/design"
                            >Design</a
                          ><a class="link svelte-1pkxpi2" href="#/develop"
                            >Develop</a
                          ><a class="link svelte-1pkxpi2" href="#/personas"
                            >People</a
                          >
                          <div class="close svelte-1pkxpi2">
                            <div class="icon svelte-1d7sykj">
                              <svg
                                class="spectrum-Icon spectrum-Icon--sizeM svelte-1d7sykj hoverable"
                                focusable="false"
                                aria-hidden="false"
                                aria-label="Close"
                                style="transform: rotate(0deg); "
                                ><use
                                  style="pointer-events: none;"
                                  xlink:href="#spectrum-icon-18-Close"
                                ></use></svg
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main-wrapper svelte-1pkxpi2">
                    <div class="main size--l svelte-1pkxpi2">
                      <div
                        class="component screenslot svelte-4sybt1"
                        data-id="screenslot"
                        data-icon="WebPage"
                      >
                        <div
                          class="svelte-ovu7ng screenslot-dom"
                          draggable="false"
                          style="flex: 1 1 auto; display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch;"
                        >
                          <div
                            class="component c755ad925736140e3a6ac59bdbc01910f svelte-4sybt1 parent"
                            data-id="c755ad925736140e3a6ac59bdbc01910f"
                            data-name="Screen"
                            data-icon="Selection"
                            data-parent="screenslot"
                          >
                            <div
                              class="valid-container direction-column hAlign-center vAlign-middle size-grow gap-M svelte-yhp15y c755ad925736140e3a6ac59bdbc01910f-dom"
                              draggable="false"
                              style=""
                            >
                              <div
                                class="component c87ed52613f3c4b3886a3e0540ad32f6b svelte-4sybt1"
                                data-id="c87ed52613f3c4b3886a3e0540ad32f6b"
                                data-name="CSS"
                                data-icon="Code"
                                data-parent="c755ad925736140e3a6ac59bdbc01910f"
                              >
                                <div
                                  class="embed svelte-nd6hd8 c87ed52613f3c4b3886a3e0540ad32f6b-dom"
                                  draggable="false"
                                  style=""
                                >
                               
                                </div>
                              </div><div
                                class="component c8f101dbb7c2c4e3cbe98bf942a46b4fb svelte-4sybt1 parent"
                                data-id="c8f101dbb7c2c4e3cbe98bf942a46b4fb"
                                data-name="Login"
                                data-icon="Form"
                                data-parent="c755ad925736140e3a6ac59bdbc01910f"
                              >
                                <div
                                  class="spectrum--medium c8f101dbb7c2c4e3cbe98bf942a46b4fb-dom"
                                  draggable="false"
                                  style=""
                                >
                                  <div
                                    class="component cba9af161e0464c4b983190aa2aac3333 svelte-4sybt1"
                                    data-id="cba9af161e0464c4b983190aa2aac3333"
                                    data-name="Email"
                                    data-icon="Text"
                                    data-parent="c8f101dbb7c2c4e3cbe98bf942a46b4fb"
                                  >
                                    <div class="spectrum-Form--labelsAbove">
                                      <div
                                        class="spectrum-Form-item cba9af161e0464c4b983190aa2aac3333-dom"
                                        draggable="false"
                                        style=""
                                      >
                                        <label
                                          for="id-c7118537e4bfe4fcbaa90221ea719392d"
                                          class="spectrum-FieldLabel spectrum-FieldLabel--sizeM spectrum-Form-itemLabel svelte-tta2b5"
                                          contenteditable="false">Email</label
                                        >
                                        <div
                                          class="spectrum-Form-itemField svelte-tta2b5"
                                        >
                                          <div
                                            class="spectrum-Textfield svelte-wy7fqv"
                                          >
                                            <input
                                              id="id-c7118537e4bfe4fcbaa90221ea719392d"
                                              placeholder=""
                                              type="text"
                                              class="spectrum-Textfield-input"
                                              style="text-align: left;"
                                              inputmode="text"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div><div
                                    class="component cce990d6789c34c3c8a2f1b698f571898 svelte-4sybt1"
                                    data-id="cce990d6789c34c3c8a2f1b698f571898"
                                    data-name="Password"
                                    data-icon="LockClosed"
                                    data-parent="c8f101dbb7c2c4e3cbe98bf942a46b4fb"
                                  >
                                    <div class="spectrum-Form--labelsAbove">
                                      <div
                                        class="spectrum-Form-item cce990d6789c34c3c8a2f1b698f571898-dom"
                                        draggable="false"
                                        style=""
                                      >
                                        <label
                                          for="id-cf27bb2e294c341cb82b730777660b81d"
                                          class="spectrum-FieldLabel spectrum-FieldLabel--sizeM spectrum-Form-itemLabel svelte-tta2b5"
                                          contenteditable="false"
                                          >Password</label
                                        >
                                        <div
                                          class="spectrum-Form-itemField svelte-tta2b5"
                                        >
                                          <div
                                            class="spectrum-Textfield svelte-wy7fqv"
                                          >
                                            <input
                                              id="id-cf27bb2e294c341cb82b730777660b81d"
                                              placeholder=""
                                              type="password"
                                              class="spectrum-Textfield-input"
                                              style=""
                                              inputmode="text"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div><div
                                    class="component c8b41d15b95f342ef965e66df45ee307a svelte-4sybt1"
                                    data-id="c8b41d15b95f342ef965e66df45ee307a"
                                    data-name="Login"
                                    data-icon="Button"
                                    data-parent="c8f101dbb7c2c4e3cbe98bf942a46b4fb"
                                  >
                                    <button
                                      class="spectrum-Button spectrum-Button--sizeM spectrum-Button--primary svelte-1gv5n3y c8b41d15b95f342ef965e66df45ee307a-dom"
                                      draggable="false"
                                      style="margin-top: 16px;"
                                      contenteditable="false"
                                    >
                                      Login</button>
                                  </div><div
                                    class="component c24180b238573464ba268f8bf9b55d77e svelte-4sybt1"
                                    data-id="c24180b238573464ba268f8bf9b55d77e"
                                    data-name="Sign Up"
                                    data-icon="Button"
                                    data-parent="c8f101dbb7c2c4e3cbe98bf942a46b4fb"
                                  >
                                    <button
                                      class="spectrum-Button spectrum-Button--sizeM spectrum-Button--cta svelte-1gv5n3y c24180b238573464ba268f8bf9b55d77e-dom"
                                      draggable="false"
                                      style="margin-left: 8px; margin-top: 16px;"
                                      contenteditable="false"
                                    >
                                      Sign Up</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="side-panel-container" class="svelte-1pkxpi2">
                  <div class="side-panel-header svelte-1pkxpi2">
                    <div class="icon svelte-1d7sykj">
                      <svg
                        class="spectrum-Icon spectrum-Icon--sizeM svelte-1d7sykj hoverable"
                        focusable="false"
                        aria-hidden="false"
                        aria-label="RailRightClose"
                        style="transform: rotate(0deg); color: var(--spectrum-global-color-gray-600);"
                        ><use
                          style="pointer-events: none;"
                          xlink:href="#spectrum-icon-18-RailRightClose"
                        ></use></svg
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="flatpickr-root"></div>
            <div class="modal-container"></div>
            <div class="notifications svelte-o2yltz"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  body {
    background-image: url("https://one.ie/images/backgrounds/background-dark-primary.png");
    background-color: #111111;
  }
  .main-wrapper {
  }
  .spectrum-Icon {
    display: none;
  }
  .logo.svelte-1pkxpi2 img.svelte-1pkxpi2 {
    height: 60px;
    margin-left: -10px;
  }
  .desktop.svelte-1pkxpi2 .nav--left.svelte-1pkxpi2 {
    background-image: url("https://one.ie/images/backgrounds/background-dark-secondary.png");
    background-color: #111111;
    width: 100px;
  }
  
</style>
