<section
  data-section-id="2"
  data-share=""
  data-category="features"
  data-component-id="4d2f33a1_03_awz"
  class="py-24 md:py-40"
>
  <div class="container px-4 mx-auto">
    <div class="flex items-center mb-10">
      <span class="font-heading text-xl" data-config-id="auto-txt-1-3">05</span>
      <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
      <span class="font-heading text-xl" data-config-id="auto-txt-2-3"
        >Features</span
      >
    </div>
    <h2
      class="text-center font-heading text-4xl sm:text-6xl md:text-7xl mb-24"
      data-config-id="auto-txt-3-3"
    >
      Be unique with features
    </h2>
    <div class="flex flex-wrap justify-center -mx-4 mb-20">
      <div class="w-full md:w-1/2 lg:w-auto px-4 mb-8 md:mb-0">
        <a
          class="h-full max-w-sm mx-auto flex flex-col pt-12 px-14 background-secondary rounded-xl"
          href="#"
        >
          <h5
            class="max-w-xs 3xl:pr-10 font-heading text-xl mb-14"
            data-config-id="auto-txt-4-3"
          >
            Comfort like you've never experienced before.
          </h5>
          <div class="text-right mt-auto pb-10">
            <span class="inline-block">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                data-config-id="auto-svg-1-3"
              >
                <path
                  d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z"
                  fill="black"></path>
              </svg>
            </span>
          </div>
        </a>
      </div>
      <div class="w-full md:w-1/2 lg:w-auto px-4">
        <a
          class="h-full max-w-sm mx-auto flex flex-col pt-12 px-14 background-secondary rounded-xl"
          href="#"
        >
          <h5
            class="max-w-xs 3xl:pr-10 font-heading text-xl mb-14"
            data-config-id="auto-txt-5-3"
          >
            Comfort like you've never experienced before.
          </h5>
          <div class="text-right mt-auto pb-10">
            <span class="inline-block">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                data-config-id="auto-svg-2-3"
              >
                <path
                  d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z"
                  fill="white"></path>
              </svg>
            </span>
          </div>
        </a>
      </div>
    </div>
    <div class="text-center">
      <a
        class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium border border-gray-900 hover:text-gray-700 rounded"
        href="#"
        data-config-id="auto-txt-6-3">View all</a>
    </div>
  </div>
</section>
