<section class="section banner relative">
    <div class="container">
      <div class="row items-center">

        <div class="md:col-8 hero center">
          <h1 class="banner-title">
            Elevate Ecommerce with AI </h1>
            <p>
              Connect your ecommerce store to your customer's favourite messaging channels. Then help them buy using AI-powered chat. 
            </p>
            <br /><br />
            </a>
            <a href="/demo" class="btn btn-white variant-filled col-span-2">View Demo</a>
            <a href="/get-started" class="btn btn-primary variant-filled col-span-2"> Get Started</a>
            <br />
            <br />
            <p>It's suprisingly simple and fast...</p>
  
            <br />
            <div class="logo-cloud grid-cols-2 gap-2.5">
              <a class="logo-item background-secondary" href="/">
                <span
                  ><img
                    src="/images/logos/logo-openai.svg"
                    width="50px"
                    height="50px"
                    alt="OpenAI"
                  /></span
                >
                <span>OpenAI</span>
              </a>
              <a class="logo-item background-secondary" href="/">
                <span
                  ><img
                    src="/images/logos/logo-google-dialogflow.svg"
                    width="50px"
                    height="50px"
                    alt="Google Dialogflow"
                  /></span
                >
                <span>Google Dialogflow</span>
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>