<section class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-4xl">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">Explode <span class="text-gray">Ecommerce </span>Sales
			with AI-Powered <span class="text-gray">Chat Funnels</span>
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">AI-powered chat funnels are automated conversation pathways designed to guide online shoppers towards a specific goal, such as making a purchase, signing up for a newsletter, or answering a survey. 
        </p>
		<div class="flex flex-wrap justify-center">
            <a class="link link-underline link-underline-black text-white" href="/get-started">
			<button class="px-8 py-3 m-2 text-lg font-semibold rounded dark:bg-violet-400 dark:text-gray-900">Get started</button></a>
                        <a href="#learn-more">

			<button class="px-8 py-3 m-2 text-lg border rounded dark:text-gray-50 dark:border-gray-700">Learn more</button>
                        </a>
		</div>
	</div>
</section>
